---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
    <main>
        <h1>Checkout page placeholder. https://github.com/creativetimofficial/astro-ecommerce/tree/main/src/components/checkout</h1>
    </main>
</Layout>