<header>
  <nav>
    <ul style="text-align: center;">
    <a href="/">Home</a> 
    <a href="./products">Products</a>
    <a href="./howitsmade">How It's Made</a>
    <a href="./lofi">LoFi Printer Beats</a>
    <a href="./about">About</a>
    <a href="./checkout">Checkout</a>
    </ul>
  </nav>
</header>